:host {
  width: 100%;
}

.content-box{
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  border: 1px solid green;
}

.products {
  position: relative;
  display: flex;
  align-self: flex-start;
  border: 1px solid blue;

  width: 100%;
  height: 40%;
}

.item{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;

  border: 1px solid red;
  border-radius: 10%;
  text-align: center;
  list-style-type: none;
}

.productInfo{
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;

  width: 100%;
}

.title{
  position: relative;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10%;
}

.backBtn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  width: 100%;
}

.backBtn a{
  border-radius: 10px;
  padding: 4%;
  background-color: rgba(190, 0, 0, 0.6);
  text-decoration: none;
  color: inherit;
}

.backBtn a:hover{
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
}
