<div class="content-box">
  <div class="title" *ngIf="product">Read product: {{product.productName}}</div>
  <div class="products" *ngIf="product">
    <div class="item">
      <div class="productInfo">
        {{product.productName}} <br>
        {{product.type}} <br>
        {{product.version}} <br>
        {{product.productDescription}} <br>
        {{product.categoryAndManufacturer.category.categoryName}} <br>
        {{product.sellBaseGrossPrice}} zł<br>
      </div>
      <div class="backBtn" onclick="history.go(-1)">
        <a>Powrót</a>
      </div>
      <div class="backBtn">
        <a routerLinkActive="active" [routerLink]="['/products/' + product.productId + '/copies']">Egzemplarze</a>
      </div>
    </div>
  </div>
  <div class="products" *ngIf="product">
    <li *ngFor="let copy of product.copies; index as i; first as isFirst">
        <div class="productInfo">
          {{copy.merchandisingCode}} <br>
          {{copy.quantity}} <br>
          {{copy.copyId}} <br>
          {{copy.sellCurrentGrossPrice}} zł<br>
          {{copy.sellCurrentNetPrice}} zł<br>
        </div>
        <div class="moreBtn">
          <a role="button" (click)="addToCart(product.productId, copy.copyId)">Dodaj do koszyka</a>
        </div>
        <span *ngIf="isFirst"></span>
    </li>
  </div>
</div>
