<div class="content-box">
  <div class="title">Positions on your order:</div>
  <div class="orders" *ngIf="order">
    <div class="item">
      <div class="cartInfo">
        order id: {{order.orderId}} <br>
        customers id: {{order.customerId}} <br>
        zapłacono: {{order.paid}} <br>
        sztuki: {{order.copies}} <br>
      </div>
      <div class="backBtn" onclick="history.go(-1)">
        <a>Powrót</a>
      </div>
    </div>
  </div>
  <div class="orders" *ngIf="order">

  </div>
</div>
