<div class="content-box">
  <div class="title">Positions on your cart:</div>
  <div class="carts" *ngIf="cart">
    <li *ngFor="let item of cart.cartItems | keyvalue; index as i; first as isFirst">
      <div class="item">
        <div class="cartInfo">
          Marchandising Code : <br>
          {{item.value.copy.merchandisingCode}} <br>
          <br>
          Ilość : {{item.value.quantity}} <br>
        </div>
        <div class="backBtn" onclick="history.go(-1)">
          <a>Powrót</a>
        </div>
        <span *ngIf="isFirst"></span>
      </div>
    </li>
  </div>
  <div class="carts" *ngIf="cart">
  </div>
</div>

