:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  width: 100%;
  height: 100%;

  background-color: #31353F;
}

.btn{
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

  width: 80%;
  height: 10%;

  background-color: darkred;
  border-radius: 10px;
}
