<div class="btn" id="products" (click)="btnClickProducts();">
  <div class="btn-data">
    <div class="icon"><mat-icon>view_list</mat-icon></div>
    <div class="btn-text">Products</div>
  </div>
</div>

<div class="btn" id="carts" (click)="btnClickCarts();">
  <div class="btn-data">
    <div class="icon"><mat-icon>shopping_cart</mat-icon></div>
    <div class="btn-text">Cart</div>
  </div>
</div>

<div class="btn" id="orders" (click)="btnClickOrders();">
  <div class="btn-data">
    <div class="icon"><mat-icon>playlist_add_check</mat-icon></div>
    <div class="btn-text">Orders</div>
  </div>
</div>

<div class="btn">
  <div class="btn-data">
    <div class="icon"><mat-icon>lock</mat-icon></div>
    <div class="btn-text">Admin Panel : </div>
  </div>
</div>

<div class="btn" id="add" (click)="btnClickAdd();">
  <div class="btn-data">
    <div class="icon"><mat-icon>add</mat-icon></div>
    <div class="btn-text">Add Items</div>
  </div>
</div>

<div class="btn" id="adm-prod" (click)="btnClickAdminProducts();">
  <div class="btn-data">
    <div class="icon"><mat-icon>add</mat-icon></div>
    <div class="btn-text">Admin Products</div>
  </div>
</div>

