<div class="content-box">
  <div class="title">Your cart:</div>
  <div class="carts" *ngIf="cart">
      <div class="item">
        <div class="cartInfo">
          ID koszyka: {{cart.cartId}} <br>
          ID klienta: {{cart.customerId}} <br>
          Wartość koszyka: {{cart.grandTotal}} <br>
        </div>
        <div class="moreBtn">
          <a routerLinkActive="active" [routerLink]="['/customers/cart/details']">szczegóły</a>
        </div>
        <div class="moreBtn">
          <a role="button" (click)="sendOrder(cart.cartId)">zamów</a>
        </div>
      </div>
  </div>
  <div class="carts" *ngIf="cart">
  </div>
</div>
